/ota_images/ca_cert.pem
/ota_images/ca.key.pem
/server_alarmas/node_modules/
/server_alarmas/package-lock.json
/codigo_nodos_ota_rollback/build/
/datacenter_app/node_modules/
/influx_module/node_modules/
